<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" novalidate>

<mat-card class="mat-elevation-z0 main-card-without-border">
  <mat-card-header>
    <mat-card-title>{{ action }} Funcionário(a)</mat-card-title>
  </mat-card-header>
  <mat-card-content class="margin-card">

    <mat-card class="sub-card">
      <mat-card-header class="sub-card-title">
        Dados Pessoais
      </mat-card-header>
      <mat-card-content class="sub-card-content">
        <mat-form-field class="fill width-field-100">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" maxlength="100" />
              <mat-error *ngIf="f.get('name')?.hasError('required') && (f.get('name')?.dirty || f.get('name')?.touched)">
                O campo nome é obrigatório
              </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-40">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" maxlength="14" mask="000.000.000-00" />
          <mat-error *ngIf="f.get('cpf')?.hasError('required') && (f.get('cpf')?.dirty || f.get('cpf')?.touched)">
            O campo CPF é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-40">
          <mat-label>RG</mat-label>
          <input matInput formControlName="rg" maxlength="15" mask="00.000.000-0" />
          <mat-error *ngIf="f.get('rg')?.hasError('required') && (f.get('rg')?.dirty || f.get('rg')?.touched)">
            O campo RG é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-18">
          <mat-label>Sexo</mat-label>
          <mat-select matInput formControlName="gender">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Feminino</mat-option>
          </mat-select>
          <mat-error *ngIf="f.get('gender')?.hasError('required') && (f.get('gender')?.dirty || f.get('gender')?.touched)">
            O campo Sexo é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-80">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" maxlength="100" />
          <mat-error *ngIf="f.get('email')?.hasError('required') && (f.get('email')?.dirty || f.get('email')?.touched)">
            O campo e-mail é obrigatório
          </mat-error>
          <mat-error *ngIf="f.get('email')?.hasError('email') && (f.get('email')?.dirty || f.get('email')?.touched)">
            Informe um e-mail válido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-40">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="phone" maxlength="14" mask="(00) 0000-0000" />
        </mat-form-field>
        <mat-form-field class="fill width-field-40">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="cellPhone" maxlength="15" mask="(00) 00000-0000" />
          <mat-error *ngIf="f.get('cellPhone')?.hasError('required') && (f.get('cellPhone')?.dirty || f.get('cellPhone')?.touched)">
            O campo Celular é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="sub-card" formGroupName="address">
      <mat-card-header class="sub-card-title">
        Endereço
      </mat-card-header>
      <mat-card-content class="sub-card-content">
        <mat-form-field class="fill width-field-15">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="zipCode" maxlength="9" mask="00000-000" />
          <mat-error *ngIf="f.get('address.zipCode')?.hasError('required') && (f.get('address.zipCode')?.dirty || f.get('address.zipCode')?.touched)">
            O campo CEP é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-60">
          <mat-label>Logradouro</mat-label>
          <input matInput formControlName="streetAddress" maxlength="100" />
          <mat-error *ngIf="f.get('address.streetAddress')?.hasError('required') && (f.get('address.streetAddress')?.dirty || f.get('address.streetAddress')?.touched)">
            O campo Logradouro é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-15">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" maxlength="7" />
          <mat-error *ngIf="f.get('address.number')?.hasError('required') && (f.get('address.number')?.dirty || f.get('address.number')?.touched)">
            O campo Número é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-50">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement" maxlength="40" />
        </mat-form-field>
        <mat-form-field class="fill width-field-30">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="neighborhood" maxlength="30" />
          <mat-error *ngIf="f.get('address.neighborhood')?.hasError('required') && (f.get('address.neighborhood')?.dirty || f.get('address.neighborhood')?.touched)">
            O campo Bairro é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-40">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" maxlength="30" />
          <mat-error *ngIf="f.get('address.city')?.hasError('required') && (f.get('address.city')?.dirty || f.get('address.city')?.touched)">
            O campo Cidade é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fill width-field-40">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state.id">
                {{ state.name }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="f.get('address.state')?.hasError('required') && (f.get('address.state')?.dirty || f.get('address.state')?.touched)">
            O campo Estado é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>


    <mat-card class="sub-card">
      <mat-card-header class="sub-card-title">
        Dados complementares
      </mat-card-header>
      <mat-card-content class="sub-card-content">
        <mat-form-field appearance="fill" class="margin-right">
          <mat-label>Data de admissão</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="admissionDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="f.get('admissionDate')?.hasError('required') && (f.get('admissionDate')?.dirty || f.get('admissionDate')?.touched)">
            O campo Data de Admissão é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-checkbox matInput formControlName="isVeterinarian">Veterinário</mat-checkbox>
        <mat-checkbox matInput formControlName="active">Ativo</mat-checkbox>

      </mat-card-content>
    </mat-card>

    <mat-card class="sub-card" *ngIf="dutyVeterinarian" formGroupName="workShift">
      <mat-card-header class="sub-card-title">
        Plantão Veterinário
      </mat-card-header>
      <mat-card-content class="sub-card-content">
        <table>
          <tr>
            <td><mat-checkbox class="dutydays" matInput formControlName="monday">Segunda-feira</mat-checkbox></td>
            <td><mat-checkbox class="dutydays" matInput formControlName="tuesday">Terça-feira</mat-checkbox></td>
            <td><mat-checkbox class="dutydays" matInput formControlName="wednesday">Quarta-feira</mat-checkbox></td>
            <td><mat-checkbox class="dutydays" matInput formControlName="thursday">Quinta-feira</mat-checkbox></td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="mondayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="mondayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="tuesdayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="tuesdayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="wednesdayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="wednesdayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="thursdayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="thursdayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>

          </tr>
          <tr>
            <td><mat-checkbox class="dutydays" matInput formControlName="friday">Sexta-feira</mat-checkbox></td>
            <td><mat-checkbox class="dutydays" matInput formControlName="saturday">Sábado</mat-checkbox></td>
            <td><mat-checkbox class="dutydays" matInput formControlName="sunday">Domingo</mat-checkbox></td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="fridayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="fridayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="saturdayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="saturdayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="dutyHoursFrom">
                <mat-label>De</mat-label>
                <input matInput formControlName="sundayFrom" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
              <mat-form-field class="dutyHoursTo">
                <mat-label>Até</mat-label>
                <input matInput formControlName="sundayTo" type="number" maxlength="2" min="0" max="24" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
    <div class="aligin-button-right">
      <button type="button" mat-flat-button color="primary" (click)="cancelForm()" class="button-margin-right">Voltar</button>
      <button type="submit" [disabled]="!employeeForm.valid" mat-flat-button color="primary">Enviar</button>
    </div>
  </mat-card-content>
</mat-card>
</form>

<div class="overlaySpinner" *ngIf="showSpinner">
  <div class="centerSpinner">
    <mat-spinner></mat-spinner>
  </div>
</div>



