
  <mat-card class="mat-elevation-z0 main-card-without-border">
    <mat-card-header>
      <mat-card-title>{{ action }} Entrada de Produtos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="margin-card">
      <mat-card class="sub-card">
        <mat-card-header class="sub-card-title">
          Dados da Entrada de Produtos
        </mat-card-header>
        <mat-card-content class="sub-card-content">
          <form [formGroup]="productEntryHeaderForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="fill width-field-40">
              <mat-label>Código de entrada</mat-label>
              <input matInput formControlName="code" maxlength="10" />
                  <mat-error *ngIf="f.get('code')?.hasError('required') && (f.get('code')?.dirty || f.get('code')?.touched)">
                    O campo código é obrigatório
                  </mat-error>
            </mat-form-field>
            <mat-form-field class="fill width-field-40">
              <mat-label>Fornecedor</mat-label>
              <mat-select formControlName="supplierId" [(value)]="selectedSupplier">
                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                    {{ supplier.trade }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="f.get('supplierId')?.hasError('required') && (f.get('supplierId')?.dirty || f.get('supplierId')?.touched)">
                É obrigatório selecionar um fornecedor
              </mat-error>
            </mat-form-field>
          </form>
          <mat-card class="sub-card">
            <mat-card-header class="sub-card-title">
              Produto
            </mat-card-header>
            <mat-card-content class="sub-card-content">
              <mat-form-field class="fill width-field-40">
                <mat-label>Código</mat-label>
                <input matInput (keyup)="searchProductByCode($event)" [(ngModel)]="productCodeEntry.code" maxlength="10" />
              </mat-form-field>
              <mat-form-field class="fill width-field-40">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="productCodeEntry.name" [disabled]="true" />
              </mat-form-field>

              <mat-form-field class="fill width-field-40">
                <mat-label>Categoria</mat-label>
                <input matInput [(ngModel)]="productCodeEntry.categoryName"  [disabled]="true" />
              </mat-form-field>
              <mat-form-field class="fill width-field-40">
                <mat-label>Marca</mat-label>
                <input matInput [(ngModel)]="productCodeEntry.brandName" [disabled]="true" />
              </mat-form-field>

              <mat-form-field class="fill width-field-20">
                <mat-label>Custo</mat-label>
                <input matInput [ngModel]="productCodeEntry.costValue | currency" />
              </mat-form-field>
              <mat-form-field class="fill width-field-20">
                <mat-label>Quantidade</mat-label>
                <input matInput type="number" (change)="calculateSubValue($event)" [(ngModel)]="productCodeEntry.quantity" />
              </mat-form-field>
              <mat-form-field class="fill width-field-20">
                <mat-label>Total</mat-label>
                <input matInput [ngModel]="productCodeEntry.subTotal | currency" [disabled]="true" />
              </mat-form-field>
              <button mat-mini-fab color="primary" matTooltip="Adicionar"
                [disabled]="disabledAddButton()"
                (click)="addProduct(productCodeEntry)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>

          <mat-card class="sub-card">
            <mat-card-header class="sub-card-title">
              Lista de Produtos
            </mat-card-header>
            <mat-card-content class="sub-card-content">
              <div class="search-table-list" *ngIf="listProductCodeEntry.length == 0">
                Nenhum produto inserido
              </div>

              <div class="search-table-list" *ngIf="listProductCodeEntry.length > 0">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Código</th>
                    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                  </ng-container>
                  <ng-container matColumnDef="costValue">
                    <th mat-header-cell *matHeaderCellDef> Custo</th>
                    <td mat-cell *matCellDef="let element">{{ element.costValue | currency }}</td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantidade</th>
                    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                  </ng-container>
                  <ng-container matColumnDef="subTotal">
                    <th mat-header-cell *matHeaderCellDef> Sub Total</th>
                    <td mat-cell *matCellDef="let element">{{ element.subTotal | currency }}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ação</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-icon
                        color="warn"
                        class="cursorPointer"
                        matTooltip="excluir"
                        (click)="removeProduct(element)">delete</mat-icon>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <div class="overlaySpinner" *ngIf="showSpinner">
    <div class="centerSpinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <pre>

    {{ productCodeEntry | json}}
    {{ disabledAddButton() }}
  </pre>
